<div class="announcement-item">
  <a class="announcement-title collapsed" data-toggle="collapse" data-target="#announcement1" href="#announcement1" aria-expanded="false" aria-controls="announcement1">
    招生名額依據 <small class="text-muted">Source of student numbers</small>
  </a>
  <div id="announcement1" class="collapse" role="tabpanel" data-parent="#announcement">
    <ol>
      <li>
        業經教育部
        <ul>
          <li>
            114 年 09 月 12 日臺教技(一)字第 1142301993（A至N）號
          </li>
          <li>
            114 年 10 月 08 日臺教高(四)字第 1142202739（A至N）號
          </li>
          <li>
            114 年 10 月 08 日臺教高(四)字第 1142202740（A至R）號
          </li>
          <li>
            114 年 10 月 08 日臺教高(四)字第 1142227391（A至Y）號
          </li>
          <li>
            114 年 10 月 23 日臺教高(四)字第 1140110560 號
          </li>
          <li>
            114 年 11 月 05 日臺教高(四)字第 1140115615 號
          </li>
          <li>
            114 年 11 月 20 日臺教技(一)字第 1142302734 號
          </li>
        </ul>
          等函核定在案。
      </li>
      <li>各梯次名額係依本會 114 年 10 月 08 日第 1 次常務委員會決議事項辦理。</li>
    </ol>
    <ol>
      <li>
        Cases based on Circulars
        <ul>
          <li>
            No. Tai-Jiao-Ji-Tzi (1) 1142301993A~1142301993N of 12 September 2025
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1142202739A~1142202739Z of 08 october 2025
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1142202740A~1142202740R of 08 october 2025
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1142227391A~1142227391Y of 08 october 2025
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1140110560 of 23 october 2025
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1140115615 of 05 november 2025
          </li>
          <li>
            No. Tai-Jiao-Ji-Tzi (1) 1142302734 of 20 november 2025
          </li>
        </ul>
          of the Ministry of Education.
      </li>
      <li>Each tier volume is handled in accordance with the rules adopted by our committee on 08 October 2025.</li>
    </ol>
  </div>
</div>

<!-- Tai-Jiao-Kao-Tzi -->
<!-- Tai-Jiao-Ji-Tzi -->