<div class="announcement-item">
  <a class="announcement-title collapsed" data-toggle="collapse" data-target="#announcement1" href="#announcement1" aria-expanded="false" aria-controls="announcement1">
    招生名額依據 <small class="text-muted">Source of student numbers</small>
  </a>
  <div id="announcement1" class="collapse" role="tabpanel" data-parent="#announcement">
    <ol>
      <li>
        業經教育部
        <ul>
          <li>
            113 年 07 月 17 日臺教技(一)字第 1132302086（A至H）號
          </li>
          <li>
            113 年 08 月 07 日臺教技(一)字第 1130078837 號
          </li>
          <li>
            113 年 08 月 30 日臺教高(四)字第 1132202420（A至Z）號
          </li>
          <li>
            113 年 08 月 30 日臺教高(四)字第 1132224201（A至V）號
          </li>
          <li>
            113 年 08 月 30 日臺教高(四)字第 1132202431（A至T）號
          </li>
          <li>
            113 年 09 月 06 日臺教高(四)字第 1132202565（A至J）號
          </li>
          <li>
            113 年 09 月 19 日臺教高(四)字第 1130094672 號
          </li>
          <li>
            113 年 10 月 16 日臺教高(四)字第 1130099774 號
          </li>
        </ul>
          等函核定在案。
      </li>
      <li>各梯次名額係依本會 113 年 10 月 17 日第 1 次常務委員會決議事項辦理。</li>
    </ol>
    <ol>
      <li>
        Cases based on Circulars
        <ul>
          <li>
            No. Tai-Jiao-Ji-Tzi (1) 1132302086A~1132302086H of 17 July 2024
          </li>
          <li>
            No. Tai-Jiao-Ji-Tzi (1) 1130078837 of 07 August 2024
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1132202420A~1132202420Z of 30 August 2024
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1132224201A~1132224201V of 30 August 2024
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1132202431A~1132202431T of 30 August 2024
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1132202565A~1132202565J of 06 September 2024
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1130094672 of 19 September 2024
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1130099774 of 16 october 2024
          </li>
        </ul>
          of the Ministry of Education.
      </li>
      <li>Each tier volume is handled in accordance with the rules adopted by our committee on 17 October 2024.</li>
    </ol>
  </div>
</div>

<!-- Tai-Jiao-Kao-Tzi -->
<!-- Tai-Jiao-Ji-Tzi -->