<div class="announcement-item">
  <a class="announcement-title collapsed" data-toggle="collapse" data-parent="#announcement" href="#announcement1" aria-expanded="false" aria-controls="announcement1">
    招生名額依據 <small class="text-muted">Source of student numbers</small>
  </a>
  <div id="announcement1" class="collapse" role="tabpanel">
    <ol>
      <li>
        業經教育部
        <ul>
          <li>111 年 7 月 28 日臺教高（四）字第 1112203229 號</li>
          <li>111 年 8 月 12 日臺教高（四）字第 1112203429 號</li>
          <li>111 年 8 月 12 日臺教高（四）字第 1112203429A~1112203429X 號</li>
          <li>111 年 8 月 16 日臺教技（一）字第 1112302549 號</li>
          <li>111 年 8 月 16 日臺教技（一）字第 1112302549A~1112302549O 號</li>
          <li>111 年 9 月 7 日臺教高（四）字第 1112203979 號</li>
          <li>111 年 9 月 7 日臺教高（四）字第 1112203979A~1112203979H 號</li>
          <li>111 年 10 月 4 日臺教高（四）字第 1110094918 號</li>
          <li>111 年 10 月 21 日臺教技（一）字第 1112303450  號</li>
          <li>111 年 10 月 21 日臺教技（一）字第 1112303450A~1112303450B 號</li>
        </ul>
          等函核定在案。
      </li>
      <li>各梯次名額係依本會 111 年 10 月 12 日第 1 次常務委員會決議事項辦理。</li>
    </ol>
    <ol>
      <li>
        Cases based on Circulars
        <ul>
          <li>No. Tai-Jiao-Kao-Tzi (4) 1112203229 of 28 July 2022</li>
          <li>No. Tai-Jiao-Kao-Tzi (4) 1112203429 of 12 August 2022</li>
          <li>No. Tai-Jiao-Kao-Tzi (4) 1112203429A~1112203429X of 12 August 2022</li>
          <li>No. Tai-Jiao-Ji-Tzi (1) 1112302549 of 16 August 2022</li>
          <li>No. Tai-Jiao-Ji-Tzi (1) 1112302549A~1112302549O of 16 August 2022</li>
          <li>No. Tai-Jiao-Kao-Tzi (4) 1112203979 of 7 September 2022</li>
          <li>No. Tai-Jiao-Kao-Tzi (4) 1112203979A~1112203979H of 7 September 2022</li>
          <li>No. Tai-Jiao-Kao-Tzi (4) 1110094918 of 4 October 2022</li>
          <li></li>
          <li></li>
        </ul>
          of the Ministry of Education.
      </li>
      <li>Each tier volume is handled in accordance with the rules adopted by our committee on 12 October 2022.</li>
    </ol>
  </div>
</div>