<div class="announcement-item">
  <a class="announcement-title collapsed" data-toggle="collapse" data-target="#announcement1" href="#announcement1" aria-expanded="false" aria-controls="announcement1">
    招生名額依據 <small class="text-muted">Source of student numbers</small>
  </a>
  <div id="announcement1" class="collapse" role="tabpanel" data-parent="#announcement">
    <ol>
      <li>
        業經教育部
        <ul>
          <li>
            112 年 8 月 4 日臺教技(一)字第 1122302267 （A至G）號
          </li>
          <li>
            112 年 9 月 27 日臺教高(四)字第 1122202912 （A至Z）號
          </li>
          <li>
            112 年 9 月 27 日臺教高(四)字第 1122229121 （A至U）號
          </li>
          <li>
            112 年 10 月 13 日臺教高(四)字第 1122202915 （A至W）號
          </li>
        </ul>
          等函核定在案。
      </li>
      <li>各梯次名額係依本會 112 年 10 月 13 日第 1 次常務委員會決議事項辦理。</li>
    </ol>
    <ol>
      <li>
        Cases based on Circulars
        <ul>
          <li>
            No. Tai-Jiao-Ji-Tzi (1) 1122302267A~1122302267G of 4 August 2023
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1122202912A~1122202912Z of 27 September 2023
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1122229121A~1122229121U of 27 September 2023
          </li>
          <li>
            No. Tai-Jiao-Kao-Tzi (4) 1122202915A~1122202915W of 13 October 2023
          </li>
        </ul>
          of the Ministry of Education.
      </li>
      <li>Each tier volume is handled in accordance with the rules adopted by our committee on 13 October 2023.</li>
    </ol>
  </div>
</div>