// 置底
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 1rem 1rem 0 1rem;
  background-color: #f5f5f5;
  font-size: 0.8rem;
}

@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(xl) {}
