<div class="container">
  <%- partial("partials/_nav.ejs", { system: "bachelor" }) %>
  <h2 class="text-center">國立暨南國際大學 資訊管理學系 學士班</h2>
  <h2 class="text-center">Nxxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxx</h2>
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-schoolInfo-tab" data-toggle="tab" href="#nav-schoolInfo" role="tab" aria-controls="nav-schoolInfo" aria-expanded="true">學校資訊 School Information</a>
    <a class="nav-item nav-link" id="nav-deptInfo-tab" data-toggle="tab" href="#nav-deptInfo" role="tab" aria-controls="nav-deptInfo">系所資訊 Department Information</a >
    <a class="nav-item nav-link" id="nav-shenchaItem-tab" data-toggle="tab" href="#nav-shenchaItem" role="tab" aria-controls="nav-shenchaItem">審查項目 ShenCa Item</a >
  </nav>
  <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-schoolInfo" role="tabpanel" aria-labelledby="nav-schoolInfo-tab">
        <div class="card">
          <div class="card-header bg-primary text-white">
            基本資訊 Basic Information
          </div>
          <div class="card-block col-12">
            <div class="row">
              <div class="form-group col-6">
                <label class="form-control-label">電話號碼 Phone</label>
                <input type="text" class="form-control" placeholder="4543246" disabled>
              </div>
              <div class="form-group col-6">
                <label class="form-control-label">傳真號碼 Fax</label>
                <input type="text" class="form-control" placeholder="4543246" disabled>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                  <label class="form-control-label">中文網址 Chinese Website</label>
                  <input type="text" class="form-control" placeholder="www.chinese" disabled>
                </div>
                <div class="form-group col-6">
                  <label class="form-control-label">英文網址 English Website</label>
                  <input type="text" class="form-control" placeholder="www.english" disabled>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-12">
                <label class="form-control-label">地址 Address</label>
                <input type="text" class="form-control" placeholder="10617 臺北市羅斯福路4段1號
" disabled>
                <input type="text" class="form-control" placeholder="No. 1, Sec. 4, Roosevelt Road, Taipei, 10617 Taiwan R.O.C.
" disabled>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-6">
                <div class="input-group">
                  <span class="input-group-addon">
                  <input type="checkbox" disabled>
                </span>
                  <input type="text" class="form-control" value="是否招生中五生 shì fǒu zhāo shōu zhōng wǔ shēng " disabled>
                </div>
              </div>
              <div class="form-group col-6">
                <div class="input-group">
                  <span class="input-group-addon">
                  <input type="checkbox" disabled>
                </span>
                  <input type="text" class="form-control" value="是否單獨招收僑生 shì fǒu dān dú zhāo shōu qiáo shēng" disabled>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="tab-pane fade" id="nav-deptInfo" role="tabpanel" aria-labelledby="nav-deptInfo-tab">
        系所資訊
      </div>
      <div class="tab-pane fade" id="nav-shenchaItem" role="tabpanel" aria-labelledby="nav-shenchaItem-tab">
        審查項目
      </div>
  </div>
</div>
