<div class="container">
  <%- partial("partials/_nav.ejs", { system: "bachelor" }) %>
  <h2 class="text-center">國立暨南國際大學 資訊管理學系 學士班</h2>
  <h2 class="text-center">Nxxxxxxxxxxxxxxx xxxxxxxxxxxx xxxxx</h2>
  <nav class="nav nav-tabs" id="myTab" role="tablist">
    <a class="nav-item nav-link active" id="nav-schoolInfo-tab" data-toggle="tab" href="#nav-schoolInfo" role="tab" aria-controls="nav-schoolInfo" aria-expanded="true">學校資訊 School Information</a>
    <a class="nav-item nav-link" id="nav-deptInfo-tab" data-toggle="tab" href="#nav-deptInfo" role="tab" aria-controls="nav-deptInfo">系所資訊 Department Information</a >
    <a class="nav-item nav-link" id="nav-shenchaItem-tab" data-toggle="tab" href="#nav-shenchaItem" role="tab" aria-controls="nav-shenchaItem">審查項目 ShenCa Item</a >
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-schoolInfo" role="tabpanel" aria-labelledby="nav-schoolInfo-tab">
      <div class="card">
        <div class="card-header bg-primary text-white">
          基本資訊 Basic Information
        </div>
        <div class="card-block">
          <div class="row mx-auto my-2">
            <div class="col-6 row">
              <h6 class="col-6">電話號碼 Phone</h6>
              <span class="col-6">456436743673</span>
            </div>
            <div class="col-6 row">
              <h6 class="col-6">傳真號碼 Fax</h6>
              <span class="col-6">43523i83673</span>
            </div>
          </div>
          <div class="row mx-auto my-2">
            <div class="col-6 row">
              <h6 class="col-6">中文網站 Chinese Website</h6>
              <span class="col-6">jgfkdlhgslkh</span>
            </div>
            <div class="col-6 row">
              <h6 class="col-6">英文網站 English Website</h6>
              <span class="col-6">lfkjgjlkjsdglkjl</span>
            </div>
          </div>
          <div class="row mx-auto my-2">
            <h6 class="col-3">地址 Address</h6>
            <div class="col-9">
              <p class="">10617臺北市羅斯福路4段1號</p>
              <p class="">No. 1, Sec. 4, Roosevelt Road, Taipei, 10617 Taiwan R.O.C.</p>
            </div>
          </div>
          <div class="row mx-auto my-2">
            <div class="col-6 row">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-deptInfo" role="tabpanel" aria-labelledby="nav-deptInfo-tab">
      系所資訊
    </div>
    <div class="tab-pane fade" id="nav-shenchaItem" role="tabpanel" aria-labelledby="nav-shenchaItem-tab">
      審查項目
      </div>
  </div>
</div>
