<%- partial("partials/_header", { system: "bachelor" }) %>

<div class="container" style="max-width: 57rem;">

  <div class="headline">
    <h2 id="dept-title"></h2>
    <p class="lead" id="dept-eng-title"></p>
  </div>

  <nav class="nav nav-pills nav-fill mt-3" id="infoTab" role="tablist">
    <a class="nav-item nav-link" id="nav-schoolInfo-tab" data-toggle="pill" href="#nav-schoolInfo" role="tab" aria-controls="nav-schoolInfo" aria-expanded="true" onclick="app.changeTab(this.hash)">學校資訊 <small>School Information</small></a>
    <a class="nav-item nav-link" id="nav-deptInfo-tab" data-toggle="pill" href="#nav-deptInfo" role="tab" aria-controls="nav-deptInfo" aria-expanded="true" onclick="app.changeTab(this.hash)">系所資訊 <small>Department Information</small></a>
    <a class="nav-item nav-link" id="nav-shenchaItem-tab" data-toggle="pill" href="#nav-shenchaItem" role="tab" aria-controls="nav-shenchaItem" aria-expanded="true" onclick="app.changeTab(this.hash)">審查項目 <small>ShenCa Item</small></a >
  </nav>

  <hr>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-schoolInfo" role="tabpanel" aria-labelledby="nav-schoolInfo-tab">
      <div>
        <h4>基本資訊 <small class="text-muted">Basic Information</small></h4>
        <dl class="row ">
          <dt class="col-sm-4">電話號碼 <small class="text-muted">Phone</small></dt>
          <dd class="col-sm-8" id="school-phone"></dd>

          <dt class="col-sm-4">傳真號碼 <small class="text-muted">Fax</small></dt>
          <dd class="col-sm-8" id="school-fax"></dd>

          <dt class="col-sm-4">地址 <small class="text-muted">Address</small></dt>
          <dd class="col-sm-8">
            <p id="school-address"></p>
            <p id="school-eng-address"></p>
          </dd>

          <dt class="col-sm-4">中文網站 <small class="text-muted">Chinese Website</small></dt>
          <dd class="col-sm-8" id="school-url"></dd>

          <dt class="col-sm-4">英文網站 <small class="text-muted">English Website</small></dt>
          <dd class="col-sm-8" id="school-eng-url"></dd>

          <dt class="col-8 col-md-4">招收中五生 <small class="text-muted">zhāo shōu zhōng wǔ shēng</small></dt>
          <dd class="col-4 col-md-8" id="has-five-year-student-allowed"></dd>

          <dt class="col-8 col-md-4">單獨招收僑生 <small class="text-muted">dān dú zhāo shōu qiáo shēng</small></dt>
          <dd class="col-4 col-md-8" id="has-self-enrollment"></dd>
        </dl>
      </div>

      <hr>

      <div>
        <h4>住宿資訊 <small class="text-muted">Dorm Information</small></h4>
        <dl class="row" id="dorm-dl">
          <dt class="col-8 col-md-4">提供宿舍 <small class="text-muted">tí gōng sù shè</small></dt>
          <dd class="col-4 col-md-8" id="has-dorm"></dd>
          <dt class="col-sm-4 dorm-info">說明 <small class="text-muted">Introuction</small></dt>
          <dd class="col-sm-8 dorm-info">
            <p id="dorm-info-text"></p>
            <p id="dorm-info-eng-text"></p>
          </dd>
        </dl>
      </div>

      <hr>

      <div>
        <h4>獎學金資訊 <small class="text-muted">jiǎng xué jīn zī xùn</small></h4>
        <dl class="row" id="scholarship-dl">
          <dt class="col-8 col-md-4">提供獎學金 <small class="text-muted">tí gōng jiǎng xué jīn</small></dt>
          <dd class="col-4 col-md-8" id="has-scholarship"></dd>

          <dt class="col-sm-4 scholarship-info">中文說明 <small class="text-muted">Chinese shuō míng</small></dt>
          <dd class="col-sm-8 scholarship-info" id="scholarship-url"></dd>

          <dt class="col-sm-4 scholarship-info">英文說明 <small class="text-muted">English shuō mínge</small></dt>
          <dd class="col-sm-8 scholarship-info" id="scholarship-eng-url"></dd>

          <dt class="col-sm-4 scholarship-info">負責單位 <small class="text-muted">fù zé dān wèi</small></dt>
          <dd class="col-sm-8 scholarship-info">
            <p id="scholarship-dept"></p>
            <p id="scholarship-eng-dept"></p>
          </dd>
        </dl>
      </div>

      <hr>

      <div>
        <h4>學則資訊 <small class="text-muted">xué zé zī xùn</small></h4>
        <dl class="row ">
          <dt class="col-md-4">備註 <small class="text-muted">bèi zhù</small></dt>
          <dd class="col-md-8">
            <p id="system-description"></p>
            <p id="system-eng-description"></p>
          </dd>
        </dl>
      </div>

      <hr>

    </div>

    <div class="tab-pane fade" id="nav-deptInfo" role="tabpanel" aria-labelledby="nav-deptInfo-tab">
      <div>
        <h4>基本資訊 <small class="text-muted">Basic Information</small></h4>
        <dl class="row ">
          <dt class="col-sm-4">志願代碼 <small class="text-muted">Dou Ka Dai Ma </small></dt>
          <dd class="col-sm-8" id="dept-card-code"></dd>

          <dt class="col-sm-4">中文網站 <small class="text-muted">Chinese Website</small></dt>
          <dd class="col-sm-8" id="dept-url"></dd>

          <dt class="col-sm-4">英文網站 <small class="text-muted">English Website</small></dt>
          <dd class="col-sm-8" id="dept-eng-url"></dd>

          <dt class="col-sm-4">類組 <small class="text-muted">Lei Zu  </small></dt>
          <dd class="col-sm-8" id="group-code"></dd>

          <dt class="col-sm-4">性別招生限制 <small class="text-muted">Zhao Shou Xing Bie Xian Zhi </small></dt>
          <dd class="col-sm-8" id="gender-limit"></dd>

          <dt class="col-sm-4">主要學群 <small class="text-muted">Main Xiao Qun </small></dt>
          <dd class="col-sm-8" id="main-group"></dd>

          <dt class="col-sm-4">次要學群 <small class="text-muted">Second Xiao Qun </small></dt>
          <dd class="col-sm-8" id="sub-group"></dd>

          <dt class="col-8 col-md-4">單獨招收僑生 <small class="text-muted">dān dú zhāo shōu qiáo shēng</small></dt>
          <dd class="col-4 col-md-8" id="dept-has-self-enrollment"></dd>

          <dt class="col-8 col-md-4">開設僑生專班 <small class="text-muted">Kai She Qiao Sheng Zhuan Ban </small></dt>
          <dd class="col-4 col-md-8" id="dept-has-special-class"></dd>

          <dt class="col-8 col-md-4">招生外生專班 <small class="text-muted">Zhao Shou Wai Sheng Zhuan Ban</small></dt>
          <dd class="col-4 col-md-8" id="dept-has-foreign-special-class"></dd>

        </dl>
      </div>

      <hr>

      <div>
        <h4>學則資訊 <small class="text-muted">xué zé zī xùn</small></h4>
        <dl class="row ">
          <dt class="col-md-4">備註 <small class="text-muted">bèi zhù</small></dt>
          <dd class="col-md-8">
            <p id="dept-description"></p>
            <p id="dept-eng-description"></p>
          </dd>
        </dl>
      </div>
      <hr>
      <div>
        <h4>名額分配 <small class="text-muted">xué zé zī xùn</small></h4>
        <dl class="row">
          <dt class="col-sm-4">個人申請名額 <small class="text-muted">Ge Ren Shen Qing ming e</small></dt>
          <dd class="col-sm-8"><strong class="text-danger" id="admission-selection-quota">7 </strong>名</dd>

          <dt class="col-sm-4">聯合分發名額 <small class="text-muted">Lian He Fen Fa ming e</small></dt>
          <dd class="col-sm-8"><strong class="text-danger" id="admission-placement-quota">7 </strong>名</dd>

          <dt class="col-sm-12">聯合分發各梯次分配情況 <small class="text-muted">Lian He Fen Fa Ge Ti Ci Fen Pei Qing Kuang</small></dt>
          <dd class="col-12">
            <dl class="row mb-0">
              <dt class="col-sm-4 pl-4">第一梯次 <small class="text-muted">s1 </small></dt>
              <dd class="col-sm-8">4 名</dd>
              <dt class="col-sm-4 pl-4">第二梯次 <small class="text-muted">s2 </small></dt>
              <dd class="col-sm-8">4 名</dd>
              <dt class="col-sm-4 pl-4">第三梯次 <small class="text-muted">s3 </small></dt>
              <dd class="col-sm-8">4 名</dd>
              <dt class="col-sm-4 pl-4">第四梯次 <small class="text-muted">s4 </small></dt>
              <dd class="col-sm-8">4 名</dd>
              <dt class="col-sm-4 pl-4">第五梯次 <small class="text-muted">s5 </small></dt>
              <dd class="col-sm-8">不招了</dd>
            </dl>
          </dd>
        </dl>
      </div>

      <hr>

    </div>

    <div class="tab-pane fade" id="nav-shenchaItem" role="tabpanel" aria-labelledby="nav-shenchaItem-tab">
      <div id="review-fee">
        <h4>審查費用 <small class="text-muted">Zuìgāo xuélì zhèngmíng</small></h4>
        <dl class="row">
          <dt class="col-8 col-md-4">是否有審查費用 <small class="text-muted">Bi Jiao Xiang Mu </small></dt>
          <dd class="col-4 col-md-8" id="has-review-fee"></dd>
          <dt class="col-md-4 review-fee-info">說明 <small class="text-muted">Description</small></dt>
          <dd class="col-md-8 review-fee-info">
            <p id="review-fee-detail"></p>
            <p id="review-fee-eng-detail"></p>
          </dd>
        </dl>
      </div>
      <hr>
    </div>
  </div>
</div>
