<%- partial('partials/_nav', { system: 'IFP' }) %>

<div class="container">

  <div class="announcement" id="announcement" data-children=".announcement-item">
    <h3>宣告 <small class="text-muted">Announcement</small></h3>
    <%- include("components/_admission-basis") %>
    <div class="announcement-item">
      <a class="announcement-title collapsed" data-toggle="collapse" data-target="#announcement2" href="#announcement2" aria-expanded="true" aria-controls="announcement2">
        招生管道<small class="text-muted">Recruitment channel</small>
      </a>
      <div id="announcement2" class="collapse" role="tabpanel" style="padding: 0 1rem" data-parent="#announcement">
        <h6 class="mb-3">個人申請制</h6>
        <p>除國立臺灣師範大學僑生先修部馬來西亞春季班結業生外，其餘地區僑生（含港澳生）皆可申請。</p>

        <h6 class="mb-3">Individual application channel</h6>
        <p>Overseas Chinese students (including from Hong Kong and Macao) can apply, except for Malaysian students that have finished their Spring semester at NTNU.  </p>

      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title show" data-toggle="collapse" data-target="#announcement3" href="#announcement3" aria-expanded="false" aria-controls="announcement3">
        注意事項 <small class="text-muted">Points of Attention</small>
      </a>
      <div id="announcement3" class="collapse show" role="tabpanel" data-parent="#announcement">
        <p>
          <ol>
            <li>學校名稱、系所名稱皆提供中 / 英文查詢。</li>
            <li><b>各大學校院設立的「國際專修部（International Foundation Program）」為一年華語先修課程+學士學位學程（至少修業四年）。</b></li>
            <li>「國際專修部」學生入學後須於第1年先修華語課程（至少720小時），華語先修課程期滿後應達華語文能力測驗（TOCFL）之聽力與閱讀測驗基礎級（A2）標準，始得接續修讀學士班專業課程。進入學士班修讀學生於大二起應達華語文能力測驗（TOCFL）之聽力與閱讀測驗進階級（B1）標準。</li>
            <li>未於規定時間內通過標準者，學校逕行退學處分並通報註銷學生居留證，學生須於居留證失效前離境。</li>
            <li>華語先修期間不得轉系或轉學。但於正式修讀學士班專業課程1年後，得於製造業、營造業、農業及長期照顧等相關系所申請轉系或轉學。</li>
            <li>所謂「依一般限制」，係指患有精神病、活動性肺結核、惡性傳染病及重症慢性疾病等情形者，均不得申請。</li>
            <li>身心障礙學生如欲申請赴臺升學，應先了解並自行評估各校系能否依不同需求類別及程度，提供學習輔具資源及生活照輔措施，以作為選填志願之參考，以免造成無法順利就學之困擾。</li>
          </ol>
        </p>
        <p>
          <ol>
            <li>For Chinese/English search, click Search to see all the departments and graduate schools per category.</li>
            <li>The International Foundation Program (IFP) at each university is a “1+4 years degree program”, which is a 1-year Chinese Preparation Program +a bachelor program (at least 4 years).</li>
            <li>The International Foundation Program (IFP) students are required to take 1-year Chinese Preparation Program (at least 720 hours in total) in their first year of program. Upon completion of Chinese Preparation Program, students have to pass the level 2 (A2) of the Test of Chinese as a Foreign Language (TOCFL) in listening and reading to connect to the bachelor program. By end of the first year in the bachelor program, students must pass the level 3 (B1) of the Test of Chinese as a Foreign Language (TOCFL) in listening and reading.</li>
            <li>Students who fail to pass the level 2 (A2) of the Test of Chinese as a Foreign Language (TOCFL) in listening and reading before the completion of the first year in International Foundation Program (IFP), or who fail to pass the level 3 (B1) of the Test of Chinese as a Foreign Language (TOCFL) in listening and reading by end of the first year in the bachelor program, will be expelled from the school after reporting to the Ministry of Education and must leave Taiwan before the residence permit expires.</li>
            <li>During the Chinese Preparation Program, the student cannot transfer to another bachelor program nor university. However, after one year in the bachelor program, students can apply for a transfer to Manufacturing, Construction, Agriculture and Long-Term Care related departments or university.</li>
            <li>“General limitations” refers to persons suffering mental illness, active tuberculosis, malignant infectious diseases, and severe chronic diseases. They are barred from applying.</li>
            <li>Students with mental or physical needs must, prior to their application, assess whether their university departments of choice offer the support facilities and services needed for their type and degree of needs to enable smooth studies and living.</li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <h3>系所查詢 <small class="text-muted">Department and graduate school search</small></h3>

  <div class="card">
    <div class="card-header">
      選擇學校 <small class="text-muted">Select university</small>
    </div>
    <div class="form-row card-body">
      <select id="school-list" name="school" data-live-search="true" data-width="auto">
        <option value="all" selected>所有學校 All Schools</option>
      </select>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      選擇過濾條件 <small class="text-muted">Select filter</small>
    </div>

    <div class="card-body">
      <form class="form-row" onsubmit="
        event.preventDefault();
        app.filterDepartmentList(
          document.getElementById('school-list').options[document.getElementById('school-list').selectedIndex].value,
          'IFP',
          this.elements.namedItem('keyword').value,
          this.elements.namedItem('department-group').value,
          this.elements.namedItem('first-category').checked,
          this.elements.namedItem('second-category').checked,
          this.elements.namedItem('third-category').checked,
          this.elements.namedItem('myanmar-teacher-education').checked,
          this.elements.namedItem('english-instructed-program').checked,
          this.elements.namedItem('school-five-graduate').checked,
        );
      ">
        <div class="form-group col-md-6">
          <label class="form-control-label">選擇類組* <small class="text-muted">Select category*</small></label>
          <div class="form-check">
            <input class="form-check-input" id="isGroup1" name="first-category" type="checkbox" value="">
            <label class="form-check-label" for="isGroup1">
              第一類組 <small class="text-muted">First category</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="isGroup2" name="second-category" type="checkbox" value="">
            <label class="form-check-label" for="isGroup2">
              第二類組 <small class="text-muted">Second category</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="isGroup3" name="third-category" type="checkbox" value="">
            <label class="form-check-label" for="isGroup3">
              第三類組 <small class="text-muted">Third category</small>
            </label>
          </div>
          <br/>
          <label class="form-control-label">篩選條件* <small class="text-muted">Select option*</small></label>
          <div class="form-check">
            <input class="form-check-input" id="showMyanmar" name="myanmar-teacher-education" type="checkbox" value="">
            <label class="form-check-label" for="showMyanmar">
              緬甸師資培育計畫學系* <small class="text-muted"><br/>Myanmar teacher education project departments</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="showEnglishTaught" name="english-instructed-program" type="checkbox" value="">
            <label class="form-check-label" for="showEnglishTaught">
              全英語授課學系* <small class="text-muted"><br/>Eglish-instructed program departments</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="showSchoolFive" name="school-five-graduate" type="checkbox" value="">
            <label class="form-check-label" for="showSchoolFive">
              招收中五學制畢業生學系* <small class="text-muted"><br/>Department(s) recruiting Form 5 graduates</small>
            </label>
          </div>
        </div>

        <div class="form-row col-md-6">
          <div class="form-group col-12">
            <label for="xuequn" class="form-control-label">選擇學群* <small class="text-muted">Select discipline*</small></label>
            <select id="department-group" name="department-group" data-live-search="true" data-width="100%">
              <option value="all" selected>所有學群 All disciplines</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label for="keywords" class="form-control-label">關鍵字查詢 <small class="text-muted">Keyword search</small></label>
            <input type="text" class="form-control" id="keyword" name="keyword" maxlength ="191" placeholder="請以繁體中文或英文輸入系所關鍵字">
          </div>

        </div>

        <button class="btn btn-primary mx-auto" id="filter-button" type="submit" onmousedown="event.preventDefault()">送出查詢</button>
      </form>
    </div>
  </div>

  <hr id="result">

  <h3>查詢結果 <small class="text-muted">Search results</small></h3>
  <div class="table-responsive">
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th rowspan="2"><span class="td-br">志願代碼</span><span class="td-br"><small class="text-muted">Code</small></span></th>
          <th rowspan="2"><span class="td-br">學校名稱</span><span class="td-br"><small class="text-muted">University</small></span></th>
          <th rowspan="2"><span class="td-br">系組名稱</span><span class="td-br"><small class="text-muted">Department</small></span></th>
          <th rowspan="2"><span class="td-br">隸屬類組</span><span class="td-br"><small class="text-muted">Category</small></span></th>
          <th colspan="3"><span class="td-br">個人申請</span><span class="td-br"><small class="text-muted">Individual Application</small></span></th>
          <th rowspan="2"><span class="td-br">全英語授課</span><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="是否為全英語授課  English-instructed Program (Yes/ Not)"></i><span class="td-br"><small class="text-muted">English-instructed Program</small></span></th>
          <th rowspan="2"><span class="td-br">是否招收中五學制畢業生</span><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="是否招收中五學制畢業生  From 5 graduate can apply (Yes/ No)"></i><span class="td-br"><small class="text-muted">From 5 graduate can apply </small></span></th>
        </tr>
        <tr>
          <th><span class="td-br">名額</span><span class="td-br"><small class="text-muted">Quota</small></span></th>
          <th><span class="td-br">審查項目</span><span class="td-br"><small class="text-muted">Required documents</small></span></th>
          <th><span class="td-br">緬甸師培</span><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="是否為緬甸師資培育專案志願  Myanmar Teacher Education Project (Yes/ No)"></i><span class="td-br"><small class="text-muted">Myanmar Teacher Education Project</small></span></th>
        </tr>
      </thead>
      <tbody id="result-body">
        <tr>
          <td colspan="16">請選擇過濾條件</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto" id="pagination-container"></div>
  </div>
</div>
