<%- partial("partials/_header", { system: "bachelor" }) %>

<div class="container">
  <%- partial("partials/_headline", { system: "bachelor" }) %>

  <div class="announcement" id="announcement" data-children=".announcement-item">
    <h3>宣告 <small class="text-muted">Announcement</small></h3>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement1" aria-expanded="true" aria-controls="announcement1">
        >招生名額依據 <small class="text-muted">zhāo shēng míng é yī jù</small>
      </a>
      <div id="announcement1" class="collapse show" role="tabpanel">
        <p>
          <ol>
            <li>業經教育部105年10月18日臺教高通字第1050141274號、105年10月21日臺教技(四)字第1050122517號函核定在案。</li>
            <li>各梯次名額係依本會105年10月17日第1次常務委員會決議事項辦理。</li>
          </ol>
        </p>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement2" aria-expanded="false" aria-controls="announcement2">
        >招生管道 <small class="text-muted">zhāo shēng guǎn dào</small>
      </a>
      <div id="announcement2" class="collapse" role="tabpanel" style="padding: 0 1rem">
        <h6 class="mb-3">個人申請制</h6>
        <p>除國立臺灣師範大學僑生先修部馬來西亞春季班結業生及緬甸生外，其餘地區僑生(含港澳生)皆可申請。</p>
        <h6>聯合分發制</h6>
        <p>
          <ul>
            <li>第一梯次(s1)：馬來西亞(持華文獨中統考文憑)</li>
            <li>第二梯次(s2)：馬來西亞(STPM/A-LEVEL/O-LEVEL/SPM)、一般地區(歐洲、美洲、非洲、大洋洲及其他免試地區)。</li>
            <li>第三梯次(s3)：海外測驗(日本、韓國、菲律賓、新加坡、泰北、緬甸、海外臺灣學校高中畢業生及澳門)。</li>
            <li>第四梯次(s4)：國立臺灣師範大學僑生先修部結業生。</li>
            <li>第五梯次(s5)：印尼輔訓班結業生、香港。</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement3" aria-expanded="false" aria-controls="announcement3">
        >注意事項 <small class="text-muted">zhù yì shì xiàng </small>
      </a>
      <div id="announcement3" class="collapse" role="tabpanel">
        <p>
          <ol>
            <li>提供中英文查詢，直接點選「查詢」，即可顯示該類組所有系所。</li>
            <li>個人申請為不分類組招生，以「個人申請(校名)」及「個人申請(系名)」搜尋，會顯示所有個人申請系所。</li>
            <li>修業年限除各校於學士班系所分則欄有特別規定外，皆為四年。</li>
            <li>所謂「依一般限制」，係指患有精神病、活動性肺結核、惡性傳染病及重症慢性疾病等情形者，均不得申請。</li>
            <li>身心障礙學生如欲申請赴臺升學，應先了解並自行評估各校系能否依不同需求類別及程度，提供學習輔具資源及生活照輔措施，以作為選填志 願之參考，以免造成無法順利就學之困擾。</li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <h3>系所查詢 <small class="text-muted">xì suǒ chá xún </small></h3>
  <form action="">
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="schoolKeywords" class="form-control-label">依關鍵字過濾學校列表 <small class="text-muted">Filter the school list by key word</small></label>
        <input type="text" class="form-control" id="school-keyword" placeholder="暨南" onchange="app.filterSchoolList(this.value)">
      </div>
      <div class="form-group col-lg-6">
        <label for="schoolList" class="form-control-label">選擇學校 <small class="text-muted">School</small></label>
        <select class="form-control" id="school-list" onchange="app.selectSchool(this.options[this.selectedIndex].value)">
          <option value="" disabled selected>請選擇學校 Select School PLZ</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label class="form-control-label">選擇類組 <small class="text-muted">Group</small></label>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="isGroup1" type="checkbox" value="" onchange="app.filterDepartmentList()">
            第一類組 <small class="text-muted">First Group</small>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="isGroup2" type="checkbox" value="" onchange="app.filterDepartmentList()">
            第二類組 <small class="text-muted">Second Group</small>
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" id="isGroup3" type="checkbox" value="" onchange="app.filterDepartmentList()">
            第三類組 <small class="text-muted">Third Group</small>
          </label>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="xuequn" class="form-control-label">選擇學群 <small class="text-muted">xuǎn zé xué qún </small></label>
        <select class="form-control" id="department-group" onchange="app.filterDepartmentList()">
          <option value="all" selected>所有學群 All xuequn</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="keywords" class="form-control-label">系所名稱過濾 <small class="text-muted">Key word filter</small></label>
        <input type="text" class="form-control" id="keyword" placeholder="資訊管理" onchange="app.filterDepartmentList()">
      </div>
    </div>
  </form>

  <table class="table table-sm table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th rowspan="2"><span class="td-br">志願代碼</span><span class="td-br"><small class="text-muted">zhì yuàn dài mǎ</small></span></th>
        <th rowspan="2"><span class="td-br">學校名稱</span><span class="td-br"><small class="text-muted">xué xiào míng chēng </small></span></th>
        <th rowspan="2"><span class="td-br">系組名稱</span><span class="td-br"><small class="text-muted">xì zǔ míng chēng</small></span></th>
        <th rowspan="2"><span class="td-br">隸屬類組</span><span class="td-br"><small class="text-muted">lì shǔ lèi zǔ </small></span></th>
        <th rowspan="2"><span class="td-br">個人申請名額</span><span class="td-br"><small class="text-muted">gè rén shēn qǐng </small></span></th>
        <th colspan="6"><span class="td-br">聯合分發名額</span><span class="td-br"><small class="text-muted">lián hé fèn fā </small></span></th>
      </tr>
      <tr>
        <th><span class="td-br">總額</span><span class="td-br"><small class="text-muted">Total</small></span></th>
        <th>s1</th>
        <th>s2</th>
        <th>s3</th>
        <th>s4</th>
        <th>s5</th>
      </tr>
    </thead>
    <tbody id="result-body">
      <tr>
        <td colspan="11">請選擇過濾條件</td>
      </tr>
    </tbody>
  </table>
</div>
