<%- partial('partials/_nav', { system: 'bachelor' }) %>

<div class="container">

  <div class="announcement" id="announcement" data-children=".announcement-item">
    <h3>宣告 <small class="text-muted">Announcement</small></h3>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement1" aria-expanded="false" aria-controls="announcement1">
        >招生名額依據 <small class="text-muted">Source of student numbers</small>
      </a>
      <div id="announcement1" class="collapse" role="tabpanel">
        <ol>
          <li>
            業經教育部
            <ul>
              <li>109 年 8 月 11 日臺教高（四）字第 1090098541 號</li>
              <li>109 年 8 月 25 日臺教技（四）字第 1090123473 號</li>
              <li>109 年 10 月 13 日臺教高（四）字第 1090141755 號</li>
            </ul>
              等函核定在案。
          </li>
          <li>各梯次名額係依本會 109 年 10 月 12 日第 1 次常務委員會決議事項辦理。</li>
        </ol>
        <ol>
          <li>
            Cases based on Circulars
            <ul>
              <li>No. Tai-Jiao-Kao-Tzi (4) 1090098541 of 11 August 2020</li>
              <li>No. Tai-Jiao-Ji-Tzi (4) 1090123473 of 25 August 2020</li>
              <li>No. Tai-Jiao-Kao-Tzi (4) 1090141755 of 13 October 2020</li>
            </ul>
              of the Ministry of Education.
          </li>
          <li>Each tier volume is handled in accordance with the rules adopted by our committee on 12 October 2020.</li>
        </ol>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement2" aria-expanded="true" aria-controls="announcement2">
        >招生管道 <small class="text-muted">Recruitment channel</small>
      </a>
      <div id="announcement2" class="collapse show" role="tabpanel" style="padding: 0 1rem">
        <h6 class="mb-3">個人申請制</h6>
        <p>除國立臺灣師範大學僑生先修部馬來西亞春季班結業生外，其餘地區僑生（含港澳生）皆可申請。</p>
        <h6>聯合分發制</h6>
        <p>
          <ul>
            <li>第一梯次（s1）：馬來西亞（持華文獨中統考文憑）</li>
            <li>第二梯次（s2）：一般地區（歐洲、美洲、非洲、大洋洲及其他免試地區）。</li>
            <li>第三梯次（s3）：海外測驗（日本、韓國、菲律賓、新加坡、泰北、緬甸、海外臺灣學校高中畢業生及澳門）。</li>
            <li>第四梯次（s4）：國立臺灣師範大學僑生先修部結業生。</li>
            <li>第五梯次（s5）：印尼輔訓班結業生、香港（DSE/CEE/ALE）、馬來西亞（STPM / A-LEVEL / O-LEVEL / SPM）。</li>
          </ul>
        <small style="color:#2a88bd">註：因COVID-19疫情影響，2021年馬來西亞（STPM / A-LEVEL / O-LEVEL / SPM）自第二梯次（s2）改併入第五梯次（s5）辦理。</small>
        </p>
        <h6 class="mb-3">Individual application channel</h6>
        <p>Overseas Chinese students (including from Hong Kong and Macao) can apply, except for Malaysian students that have finished their Spring semester at NTNU.  </p>
        <h6>Distributed allocation channel</h6>
        <p>
          <ul>
            <li>Tier 1 (s1): Malaysia (holding Unified Examination Certificate (UEC) for Mandarin)</li>
            <li>Tier 2 (s2): Regular area (Europe, America, Africa, Oceania, and other test-exempt areas). </li>
            <li>Tier 3 (s3): Tested overseas (Japan, Korea, Philippines, Singapore, Northern Thailand, Myanmar, Macao, and students graduated from overseas Taiwanese senior high schools)</li>
            <li>Tier 4 (s4): Overseas Chinese students that have finished their preparatory classes at NTNU</li>
            <li>Tier 5 (s5): Indonesian students that have finished their supplementary classes at yin fu ban; Hong Kong (DSE/CEE/ALE), Malaysia (STPM/A-LEVEL/O-LEVEL/SPM)</li>
          </ul>
        </p>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement3" aria-expanded="false" aria-controls="announcement3">
        >注意事項 <small class="text-muted">Points of Attention</small>
      </a>
      <div id="announcement3" class="collapse" role="tabpanel">
        <p>
          <ol>
            <li>學校名稱、系所名稱皆提供中 / 英文查詢。</li>
            <li>修業年限除各校於學士班系所分則欄有特別規定外，皆為四年。</li>
            <li>所謂「依一般限制」，係指患有精神病、活動性肺結核、惡性傳染病及重症慢性疾病等情形者，均不得申請。</li>
            <li>身心障礙學生如欲申請赴臺升學，應先了解並自行評估各校系能否依不同需求類別及程度，提供學習輔具資源及生活照輔措施，以作為選填志願之參考，以免造成無法順利就學之困擾。</li>
          </ol>
        </p>
        <p>
          <ol>
            <li>For Chinese/English search, click Search to see all the departments and graduate schools per category.</li>
            <li>Graduate schools for which individual applications have been submitted for four years.</li>
            <li>“General limitations” refers to persons suffering mental illness, active tuberculosis, malignant infectious diseases, and severe chronic diseases. They are barred from applying. </li>
            <li>Students with mental or physical needs must, prior to their application, assess whether their university departments of choice offer the support facilities and services needed for their type and degree of needs to enable smooth studies and living. </li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <h3>系所查詢 <small class="text-muted">Department and graduate school search</small></h3>

  <div class="card mb-4">
    <div class="card-header">
      選擇學制 <small class="text-muted">Select system</small>
    </div>
    <div class="form-row card-body">
      <select id="system-list" name="system" class="custom-select" data-live-search="true" data-width="auto">
        <option value="bachelor" selected>學士班 Bachelor</option>
        <option value="two-year-tech">香港二年學士班 Bachelor (For Hong Kong student who has a Higher Diploma or Associate Degree)</option>
        <option value="master">碩士班 Master</option>
        <option value="phd">博士班 Phd</option>
      </select>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      選擇學校 <small class="text-muted">Select university</small>
    </div>
    <div class="form-row card-body">
      <select id="school-list" name="school" data-live-search="true" data-width="auto">
        <option value="all" selected>所有學校 All Schools</option>
      </select>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      選擇過濾條件 <small class="text-muted">Select filter</small>
    </div>

    <div class="card-body">
      <form class="form-row" onsubmit="
        event.preventDefault();
        app.filterDepartmentList(
          document.getElementById('school-list').options[document.getElementById('school-list').selectedIndex].value,
          'bachelor',
          this.elements.namedItem('keyword').value,
          this.elements.namedItem('department-group').value,
          this.elements.namedItem('first-category').checked,
          this.elements.namedItem('second-category').checked,
          this.elements.namedItem('third-category').checked,
          this.elements.namedItem('myanmar-teacher-education').checked,
          this.elements.namedItem('english-instructed-program').checked,
          this.elements.namedItem('school-five-graduate').checked,
        );
      ">
        <div class="form-group col-md-6">
          <label class="form-control-label">選擇類組* <small class="text-muted">Select category*</small></label>
          <div class="form-check">
            <input class="form-check-input" id="isGroup1" name="first-category" type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">
              第一類組 <small class="text-muted">First category</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="isGroup2" name="second-category" type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">
              第二類組 <small class="text-muted">Second category</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="isGroup3" name="third-category" type="checkbox" value="">
            <label class="form-check-label" for="defaultCheck1">
              第三類組 <small class="text-muted">Third category</small>
            </label>
          </div>
          <br/>
          <label class="form-control-label">篩選條件* <small class="text-muted">Select option*</small></label>
          <div class="form-check">
            <input class="form-check-input" id="showMyanmar" name="myanmar-teacher-education" type="checkbox" value="">
            <label class="form-check-label" >
              緬甸師資培育計畫學系* <small class="text-muted"><br/>Myanmar teacher education project departments</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="showEnglishTaught" name="english-instructed-program" type="checkbox" value="">
            <label class="form-check-label" >
              全英語授課學系* <small class="text-muted"><br/>Eglish-instructed program departments</small>
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" id="showSchoolFive" name="school-five-graduate" type="checkbox" value="">
            <label class="form-check-label" >
              招收中五學制畢業生學系* <small class="text-muted"><br/>Department(s) recruiting Form 5 graduates</small>
            </label>
          </div>
        </div>

        <div class="form-row col-md-6">
          <div class="form-group col-12">
            <label for="xuequn" class="form-control-label">選擇學群* <small class="text-muted">Select discipline*</small></label>
            <select id="department-group" name="department-group" data-live-search="true" data-width="auto">
              <option value="all" selected>所有學群 All disciplines</option>
            </select>
          </div>
          <div class="form-group col-12">
            <label for="keywords" class="form-control-label">關鍵字查詢 <small class="text-muted">Keyword search</small></label>
            <input type="text" class="form-control" id="keyword" name="keyword" maxlength ="191" placeholder="請輸入系所關鍵字">
          </div>

        </div>

        <button class="btn btn-primary mx-auto" id="filter-button" type="submit" onmousedown="event.preventDefault()">送出查詢</button>
      </form>
    </div>
  </div>

  <hr id="result">

  <h3>查詢結果 <small class="text-muted">Search results</small></h3>
  <div class="table-responsive">
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th rowspan="2"><span class="td-br">志願代碼</span><span class="td-br"><small class="text-muted">Code</small></span></th>
          <th rowspan="2"><span class="td-br">學校名稱</span><span class="td-br"><small class="text-muted">University</small></span></th>
          <th rowspan="2"><span class="td-br">系組名稱</span><span class="td-br"><small class="text-muted">Department</small></span></th>
          <th rowspan="2"><span class="td-br">隸屬類組</span><span class="td-br"><small class="text-muted">Category</small></span></th>
          <th colspan="4"><span class="td-br">個人申請</span><span class="td-br"><small class="text-muted">Individual Application</small></span></th>
          <th colspan="6"><span class="td-br">聯合分發名額</span><span class="td-br"><small class="text-muted">United Distribution (Quota)</small></span></th>
          <th rowspan="2"><span class="td-br">全英語授課</span><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="是否為全英語授課  English-instructed Program (Yes/ Not)"></i><span class="td-br"><small class="text-muted">English-instructed Program</small></span></th>
          <th rowspan="2"><span class="td-br">是否招收中五學制畢業生</span><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="是否招收中五學制畢業生  From 5 graduate can apply (Yes/ No)"></i><span class="td-br"><small class="text-muted">From 5 graduate can apply </small></span></th>
        </tr>
        <tr>
          <th><span class="td-br">名額</span><span class="td-br"><small class="text-muted">Quota</small></span></th>
          <th><span class="td-br">審查項目</span><span class="td-br"><small class="text-muted">Required documents</small></span></th>
          <th><span class="td-br">緬甸師培</span><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="是否為緬甸師資培育專案志願  Myanmar Teacher Education Project (Yes/ No)"></i><span class="td-br"><small class="text-muted">Myanmar Teacher Education Project</small></span></th>
          <th><span class="td-br">餘額流用</span><i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-animation="false" title="個人申請分發後之餘額是否流用至聯合分發  After the admission of Individual Application, can the remaining quota be transferred and added to the quota of United Distribution? (Yes/ No)"></i><span class="td-br"><small class="text-muted">Quota Transfer</small></span></th>
          <th><span class="td-br">總額</span><span class="td-br"><small class="text-muted">Total</small></span></th>
          <th>s1</th>
          <th>s2</th>
          <th>s3</th>
          <th>s4</th>
          <th>s5</th>
        </tr>
      </thead>
      <tbody id="result-body">
        <tr>
          <td colspan="16">請選擇過濾條件</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto" id="pagination-container"></div>
  </div>
</div>
