<%- partial('partials/_nav', { system: 'master' }) %>
<div class="container">

  <div class="announcement" id="announcement" data-children=".announcement-item">
    <h3>宣告 <small class="text-muted">Announcement</small></h3>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement1" aria-expanded="false" aria-controls="announcement1">
        >招生名額依據 <small class="text-muted">Source of student numbers</small>
      </a>
      <div id="announcement1" class="collapse" role="tabpanel">
        <ol>
          <li>
            業經教育部
            <ul>
              <li>106 年 07 月 07 日臺教技（四）字第 1060093919C 號</li>
              <li>106 年 07 月 27 日臺教高（四）字第 1060108500 號</li>
              <li>106 年 08 月 31 日臺教技（四）字第 1060123625 號</li>
              <li>106 年 09 月 08 日臺教高（四）字第 1060116032 號</li>
            </ul>
              等函核定在案。
          </li>
          <li>各梯次名額係依本會 106 年 10 月 13 日第 2 次常務委員會決議事項辦理。</li>
        </ol>
        <ol>
          <li>
            Cases based on Circulars
            <ul>
              <li>No. Tai-Jiao-Ji-Tzi (4) 1060093919C of 07 July 2017 </li>
              <li>No. Tai-Jiao-Ji-Tzi (4) 1060108500 of 27 July 2017 </li>
              <li>No. Tai-Jiao-Ji-Tzi (4) 1060123625 of 31 August 2017 </li>
              <li>No. Tai-Jiao-Ji-Tzi (4) 1060116032 of 08 September 2017 </li>
            </ul>
              of the Ministry of Education.
          </li>
          <li>Each tier volume is handled in accordance with the rules adopted by our committee on 13 October 2017.</li>
        </ol>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement3" aria-expanded="false" aria-controls="announcement3">
        >注意事項 <small class="text-muted">Points of Attention</small>
      </a>
      <div id="announcement3" class="collapse px-1" role="tabpanel">
        <p>
          <ol>
            <li>學校名稱、系所名稱接提供中英文查詢。</li>
            <li>申請人應依就讀校系意願由高至低填寫至多 4 個校系志願。</li>
            <li>申請者需依簡章規定繳交「基本資料表」及「系所申請表」、大學（研究所）畢業證書、成績單、碩士論文（限申請博士班者繳交）及各校系應繳資料。 </li>
            <li>本會依據申請人所填志願，將申請表件分轉各校審查，按教育部核定各校系招生名額、各校審查結果及僑生選填志願序進行統一分發。各校系得不足額錄取。資格不符及未通過志願學校審核者不予分發。</li>
            <li>所謂「依一般限制」，係指患有精神病、活動性肺結核、惡性傳染病及重症慢性疾病等情形者，均不得申請。</li>
            <li>身心障礙學生如欲申請赴臺升學，應先了解並自行評估各校系能否依不同需求類別及程度，提供學習輔具資源及生活照輔措施，以作為選填志願之參考，以免造成無法順利就學之困擾。</li>
          </ol>
        </p>
        <p>
          <ol>
            <li>For Chinese/English search, click Search to see all the departments and graduate schools per category.</li>
            <li>Please indicate your top four university graduate schools in descending order of preference.</li>
            <li>Please submit your Personal information form, Department/graduate school application form, University (graduate school) graduation certificate, transcript, Master thesis (only for applications for doctoral programs), and other documents as required by the university graduate school, in accordance with their regulations.  </li>
            <li>Our committee will forward your submitted application to your selected university graduate schools for review. Every graduate school will review the applications it receives. The distributed allocation is then carried out on the basis of the reviews of the university graduate schools and the preference rankings of the applicants. Every graduate schools may accept students as long as they have a quota remaining. Applicants that do not meet the criteria of their preferred graduate schools are not allocated a student spot.</li>
            <li>“General limitations” refers to persons suffering mental illness, active tuberculosis, malignant infectious diseases, and severe chronic diseases. They are barred from applying. </li>
            <li>Students with mental or physical needs must, prior to their application, assess whether their university departments of choice offer the support facilities and services needed for their type and degree of needs to enable smooth studies and living. </li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <h3>系所查詢 <small class="text-muted">Department and graduate school search</small></h3>

  <div class="card mt-3">
    <div class="card-header">
      選擇學校 <small class="text-muted">Select university</small>
    </div>
    <div class="form-row card-body">
      <form class="form-group col-lg-6" onsubmit="
        event.preventDefault();
        app.filterSchoolList(this.elements.namedItem('school-keyword').value);
      ">
        <label for="schoolKeywords" class="form-control-label">輸入學校名稱過濾列表 <small class="text-muted">Enter university names to filter the list</small></label>
        <div class="input-group">
          <input type="text" class="form-control" id="school-keyword" name="school-keyword" placeholder="請輸入學校關鍵字">
          <span class="input-group-append">
            <button class="btn btn-secondary" onclick="event.preventDefault(); app.filterSchoolList(document.getElementById('school-keyword').value)" onmousedown="event.preventDefault()">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </span>
        </div>
      </form>

      <div class="form-group col-lg-6">
        <label for="schoolList" class="form-control-label">選擇學校 <small class="text-muted">Select university</small></label>
        <select class="form-control" id="school-list" name="school">
          <option value="all" selected>請選擇學校 Select university</option>
        </select>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      選擇過濾條件 <small class="text-muted">Select filter</small>
    </div>

    <div class="card-body">
      <form class="form-row" onsubmit="
        event.preventDefault();
        app.filterDepartmentList(
          document.getElementById('school-list').options[document.getElementById('school-list').selectedIndex].value,
          'master',
          this.elements.namedItem('keyword').value,
          this.elements.namedItem('department-group').value
        );
      ">
        <div class="form-group col-md-6">
          <label for="xuequn" class="form-control-label">選擇學群 <small class="text-muted">Select discipline* </small></label>
          <select class="form-control" id="department-group" name="department-group">
            <option value="all" selected>所有學群 All disciplines</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="keywords" class="form-control-label">關鍵字查詢 <small class="text-muted">Keyword search</small></label>
          <input type="text" class="form-control" id="keyword" name="keyword" placeholder="請輸入系所關鍵字">
        </div>

        <button class="btn btn-primary mx-auto" id="filter-button" type="submit" onmousedown="event.preventDefault()">送出查詢</button>
      </form>
    </div>
  </div>

  <hr id="result">

  <h3>查詢結果 <small class="text-muted">Search results</small></h3>
  <div class="table-responsive">
    <table class="table table-sm table-striped table-bordered">
      <thead>
        <tr>
          <th><span class="td-br">學校名稱</span><span class="td-br"><small class="text-muted">University name</small></span></th>
          <th><span class="td-br">系組名稱</span><span class="td-br"><small class="text-muted">Department category</small></span></th>
          <th><span class="td-br">個人申請名額</span><span class="td-br"><small class="text-muted">Individual application quita</small></span></th>
          <th><span class="td-br">審查項目</span><span class="td-br"><small class="text-muted">Application documents</small></span></th>
        </tr>
      </thead>
      <tbody id="result-body">
        <tr>
          <td colspan="4">請選擇過濾條件</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <div class="mx-auto" id="pagination-container"></div>
  </div>
</div>
