<%- partial('partials/_nav', { system: 'master' }) %>
<div class="container">

  <div class="announcement" id="announcement" data-children=".announcement-item">
    <h3>宣告 <small class="text-muted">Announcement</small></h3>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement1" aria-expanded="true" aria-controls="announcement1">
        >招生名額依據 <small class="text-muted">zhāo shēng míng é yī jù</small>
      </a>
      <div id="announcement1" class="collapse show" role="tabpanel">
        <ol>
          <li>
            業經教育部
            <ul>
              <li>106 年 07 月 07 日臺教技（四）字第 1060093919C 號</li>
              <li>106 年 07 月 27 日臺教高（四）字第 1060108500 號</li>
              <li>106 年 08 月 31 日臺教技（四）字第 1060123625 號</li>
              <li>106 年 09 月 08 日臺教高（四）字第 1060116032 號</li>
            </ul>
              等函核定在案。
          </li>
          <li>各梯次名額係依本會 106 年 10 月 13 日第 2 次常務委員會決議事項辦理。</li>
        </ol>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement2" aria-expanded="false" aria-controls="announcement2">
        >招生管道 <small class="text-muted">zhāo shēng guǎn dào</small>
      </a>
      <div id="announcement2" class="collapse px-1" role="tabpanel">
        <h6 class="mb-3">？</h6>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement3" aria-expanded="false" aria-controls="announcement3">
        >注意事項 <small class="text-muted">zhù yì shì xiàng </small>
      </a>
      <div id="announcement3" class="collapse px-1" role="tabpanel">
        <p>
          <ol>
            <li>學校名稱、系所名稱接提供中英文查詢。</li>
            <li>申請人應依就讀校系意願由高至低填寫至多 4 個校系志願。</li>
            <li>申請者需依簡章規定繳交「基本資料表」及「系所申請表」、大學（研究所）畢業證書、成績單、碩士論文（限申請博士班者繳交）及各校系應繳資料。 </li>
            <li>本會依據申請人所填志願，將申請表件分轉各校審查，按教育部核定各校系招生名額、各校審查結果及僑生選填志願序進行統一分發。各校系得不足額錄取。資格不符及未通過志願學校審核者不予分發。</li>
            <li>所謂「依一般限制」，係指患有精神病、活動性肺結核、惡性傳染病及重症慢性疾病等情形者，均不得申請。</li>
            <li>身心障礙學生如欲申請赴臺升學，應先了解並自行評估各校系能否依不同需求類別及程度，提供學習輔具資源及生活照輔措施，以作為選填志願之參考，以免造成無法順利就學之困擾。</li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <h3>系所查詢 <small class="text-muted">xì suǒ chá xún </small></h3>
  <div class="card mt-3">
    <div class="card-header">
      選擇學校 <small class="text-muted">xuǎn zé xué xiào </small>
    </div>
    <div class="form-row card-body">
      <form class="form-group col-lg-6" onsubmit="event.preventDefault(); app.filterSchoolList(this.elements.namedItem('keyword').value)">
        <label for="schoolKeywords" class="form-control-label">輸入學校名稱過濾列表 <small class="text-muted">Filter the school list by keyword</small></label>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" id="school-keyword" placeholder="暨南">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="submit">
              <span class="oi oi-magnifying-glass"></span>
            </button>
          </span>
        </div>
      </form>
      <div class="form-group col-lg-6">
        <label for="schoolList" class="form-control-label">選擇學校 <small class="text-muted">School</small></label>
        <select class="form-control" id="school-list">
          <option value="" disabled selected>請選擇學校 Select School PLZ</option>
        </select>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      選擇過濾條件 <small class="text-muted">xuǎn zé guò lǜ tiáo jiàn</small>
    </div>
    <div class="card-body">
      <%- partial('componments/_filter-alert') %>
       <form class="form-row" onsubmit="event.preventDefault(); app.filterDepartmentList()">
        <div class="form-group col-md-6">
          <label for="xuequn" class="form-control-label">選擇學群 <small class="text-muted">xuǎn zé xué qún </small></label>
          <select class="form-control" id="department-group">
            <option value="all" selected>所有學群 All xuequn</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="keywords" class="form-control-label">關鍵字查詢 <small class="text-muted">Keyword filter</small></label>
          <input type="text" class="form-control" id="keyword" placeholder="資訊管理">
        </div>

        <button class="btn btn-primary mx-auto" id="filter-button" type="submit" >送出查詢</button>
      </form>
    </div>
  </div>

  <hr id="result">

  <h3>查詢結果 <small class="text-muted">xì suǒ chá xún </small></h3>
  <table class="table table-sm table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th>學校名稱</th>
        <th>系組名稱</th>
        <th>個人申請名額</th>
        <th>審查項目</th>
      </tr>
    </thead>
    <tbody id="result-body">
      <tr>
        <td colspan="4">請選擇過濾條件</td>
      </tr>
    </tbody>
  </table>
</div>
