<%- partial('partials/_nav', { system: 'phd' }) %>

<div class="container">

  <div class="announcement" id="announcement" data-children=".announcement-item">
    <h3>宣告 <small class="text-muted">Announcement</small></h3>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement1" aria-expanded="true" aria-controls="announcement1">
        >招生名額依據 <small class="text-muted">zhāo shēng míng é yī jù</small>
      </a>
      <div id="announcement1" class="collapse show px-1" role="tabpanel">
        <p>業經教育部
          <ul>
            <li>105 年 10 月 18 日臺教高通字第 1050141274 號</li>
            <li>105 年 10 月 21 日臺教技（四）字第 1050122517 號</li>
            <li>105 年 10 月 27 日臺教技（四）字第 1050149957 號</li>
            <li>105 年 11 月 15 日臺教技（四）字第 1050152241A 號</li>
            <li>105 年 11 月 15 日臺教技（四）字第 1050152241 號</li>
          </ul>
          等函核定在案。
        </p>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement2" aria-expanded="false" aria-controls="announcement2">
        >招生管道 <small class="text-muted">zhāo shēng guǎn dào</small>
      </a>
      <div id="announcement2" class="collapse px-1" role="tabpanel">
        <h6 class="mb-3">？</h6>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement3" aria-expanded="false" aria-controls="announcement3">
        >注意事項 <small class="text-muted">zhù yì shì xiàng </small>
      </a>
      <div id="announcement3" class="collapse px-1" role="tabpanel">
        <p>
          <ol>
            <li>申請人應依就讀校系意願由高至低填寫至多 4 個校系志願。</li>
            <li>申請者需依簡章規定繳交「基本資料表」及「系所申請表」、大學（研究所）畢業證書、成績單、碩士論文及各校系應繳資料。 </li>
            <li>本會依據申請人所填志願，將申請表件分轉各校審查，按教育部核定各校系招生名額、各校審查結果及僑生選填志願序進行統一分發。各校系得不足額錄取。資格不符及未通過志願學校審核者不予分發。</li>
            <li>提供中英文查詢，直接點選「查詢」，即可顯示所有系所。</li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <h3>系所查詢 <small class="text-muted">xì suǒ chá xún </small></h3>
  <div class="card mt-3">
    <div class="card-header">
      選擇學校 <small class="text-muted">xuǎn zé xué xiào </small>
    </div>
    <div class="form-row card-body">
      <div class="form-group col-lg-6">
        <label for="schoolKeywords" class="form-control-label">輸入學校名稱過濾列表 <small class="text-muted">Filter the school list by keyword</small></label>
        <div class="input-group">
          <input type="text" class="form-control" id="school-keyword" placeholder="暨南" onchange="app.filterSchoolList(this.value)">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">
              <span class="oi oi-magnifying-glass"></span>
            </button>
          </span>
        </div>
      </div>
      <div class="form-group col-lg-6">
        <label for="schoolList" class="form-control-label">選擇學校 <small class="text-muted">School</small></label>
        <select class="form-control" id="school-list" onchange="app.selectSchool(this.options[this.selectedIndex].value)">
          <option value="" disabled selected>請選擇學校 Select School PLZ</option>
        </select>
      </div>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-header">
      選擇過濾條件 <small class="text-muted">xuǎn zé guò lǜ tiáo jiàn</small>
    </div>
    <div class="card-body">
      <%- partial('componments/_filter-alert') %>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="xuequn" class="form-control-label">選擇學群 <small class="text-muted">xuǎn zé xué qún </small></label>
          <select class="form-control" id="department-group" onchange="app.filterDepartmentList()">
            <option value="all" selected>所有學群 All xuequn</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="keywords" class="form-control-label">關鍵字查詢 <small class="text-muted">Keyword filter</small></label>
          <input type="text" class="form-control" id="keyword" placeholder="資訊管理" onchange="app.filterDepartmentList()">
        </div>
      </div>
    </div>
  </div>

  <hr>

  <h3>查詢結果 <small class="text-muted">xì suǒ chá xún </small></h3>
  <table class="table table-sm table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th>學校名稱</th>
        <th>系組名稱</th>
        <th>個人申請名額</th>
        <th>審查項目</th>
      </tr>
    </thead>
    <tbody id="result-body">
      <tr>
        <td colspan="4">請選擇過濾條件</td>
      </tr>
    </tbody>
  </table>
</div>
