<%- partial("partials/_header", { system: "twoYear" }) %>

<div class="container">
  <%- partial("partials/_headline", { system: "twoYear" }) %>

  <div class="announcement" id="announcement" data-children=".announcement-item">
    <h3>宣告 <small class="text-muted">Announcement</small></h3>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement1" aria-expanded="true" aria-controls="announcement1">
        >招生名額依據 <small class="text-muted">zhāo shēng míng é yī jù</small>
      </a>
      <div id="announcement1" class="collapse show" role="tabpanel">
        <p>
          <ol>
            <li>業經教育部105年10月18日臺教高通字第1050141274號、105年10月21日臺教技(四)字第1050122517號函核定在案。</li>
            <li>各梯次名額係依本會105年10月17日第1次常務委員會決議事項辦理。</li>
          </ol>
        </p>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement2" aria-expanded="false" aria-controls="announcement2">
        >招生管道 <small class="text-muted">zhāo shēng guǎn dào</small>
      </a>
      <div id="announcement2" class="collapse" role="tabpanel" style="padding: 0 1rem">
        <h6 class="mb-3">？</h6>
      </div>
    </div>
    <div class="announcement-item">
      <a class="announcement-title" data-toggle="collapse" data-parent="#announcement" href="#announcement3" aria-expanded="false" aria-controls="announcement3">
        >注意事項 <small class="text-muted">zhù yì shì xiàng </small>
      </a>
      <div id="announcement3" class="collapse" role="tabpanel">
        <p>
          <ol>
            <li>適用於在香港取得全日制副學士學位（Associate Degree）或高級文憑（Higher Diploma）者來臺升讀技術校院，</li>
            <li>修業年限以二年為原則，修業期滿經考核成績及格者，由就讀學校授予學位，發給學士學位證書。</li>
            <li>申請人應依就讀校系意願由高至低填寫至多5個校系志願。</li>
            <li>申請者需依簡章規定繳交畢業證書、成績單及各校系應繳資料。</li>
            <li>本會依據申請人所填志願，將申請表件分轉各校審查，按教育部核定各校系招生名額、各校審查結果及僑生選填志願序進行統一分發。各校系得不足額錄取。資格不符及未通過志願學校審核者不予分發。</li>
          </ol>
        </p>
      </div>
    </div>
  </div>

  <hr>

  <h3>系所查詢 <small class="text-muted">xì suǒ chá xún </small></h3>
  <form action="">
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="schoolKeywords" class="form-control-label">依關鍵字過濾學校列表 <small class="text-muted">Filter the school list by key word</small></label>
        <input type="text" class="form-control" id="school-keyword" placeholder="暨南" onchange="app.filterSchoolList(this.value)">
      </div>
      <div class="form-group col-lg-6">
        <label for="schoolList" class="form-control-label">選擇學校 <small class="text-muted">School</small></label>
        <select class="form-control" id="school-list" onchange="app.selectSchool(this.options[this.selectedIndex].value)">
          <option value="" disabled selected>請選擇學校 Select School PLZ</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="xuequn" class="form-control-label">選擇學群 <small class="text-muted">xuǎn zé xué qún </small></label>
        <select class="form-control" id="department-group" onchange="app.filterDepartmentList()">
          <option value="all" selected>所有學群 All xuequn</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <label for="keywords" class="form-control-label">關鍵字查詢 <small class="text-muted">Keyword filter</small></label>
        <input type="text" class="form-control" id="keyword" placeholder="資訊管理" onchange="app.filterDepartmentList()">
      </div>
    </div>
  </form>

  <table class="table table-sm table-striped table-bordered table-responsive">
    <thead>
      <tr>
        <th>學校名稱</th>
        <th>系組名稱</th>
        <th>個人申請名額</th>
        <th>審查項目</th>
      </tr>
    </thead>
    <tbody id="result-body">
      <tr>
        <td colspan="4">請選擇過濾條件</td>
      </tr>
    </tbody>
  </table>
</div>
