<footer>
  <dl class="container text-center">
    <dd>臺灣海外聯合招生委員會</dd>
    <dd>Taiwan University Entrance Committee For Overseas Chinese Students</dd>
    <dd>臺灣 54561 南投縣埔里鎮大學路 1 號 <a href="https://www.google.com.tw/maps/place/國立暨南國際大學" target="_blank"><span class="oi oi-map"></span></a></dd>
    <dd>
      <span class="d-block d-sm-inline">Email：<a href="mailto:overseas@ncnu.edu.tw">overseas@ncnu.edu.tw</a></span>
      <span class="d-block d-sm-inline">電話：+886(49)2910900</span>
      <span class="d-block d-sm-inline">傳真：+886(49)2911182</span>
    </dd>
  </dl>
</footer>
