<footer>
  <dl class="container text-center">
    <dd>臺灣海外聯合招生委員會 <a href="http://www.overseas.ncnu.edu.tw/" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i></a></dd>
    <dd>Taiwan University Entrance Committee For Overseas Chinese Students</dd>
    <dd>臺灣 54561 南投縣埔里鎮大學路 1 號 <a href="https://www.google.com.tw/maps/place/國立暨南國際大學" target="_blank"><i class="fa fa-map-o" aria-hidden="true"></i></a></dd>
    <dd>
      <span class="d-block d-sm-inline">Email：<a href="mailto:overseas@mail.ncnu.edu.tw">overseas@mail.ncnu.edu.tw</a></span>
      <span class="d-block d-sm-inline">電話：<a href="tel:+886-49-2910900">+886(49)2910900</a></span>
      <span class="d-block d-sm-inline">傳真：+886(49)2911182</span>
    </dd>
  </dl>
</footer>
