<div class="alert alert-warning" id="filter-alert" role="alert">
  <div>
    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> 請先選擇學校，再選擇過濾條件。
  </div>
  <div>Please select universities first, before selecting the filter</div>
</div>
