<div id="loading-wrapper">
  <div id="loading-text">
    <img id="loading-img" src="https://api.overseas.ncnu.edu.tw/img/0verseas-logo.png" alt="台灣海外聯招會 logo">
  </div>
  <div id="loading-content"></div>
</div>

<script>
  const loading = {
    start: () => {
      document.getElementById('loading-wrapper').style.display = 'block';
    },
    complete: () => {
      // 延遲一點，避免殘影
      setTimeout(() => {
        document.getElementById('loading-wrapper').style.display = 'none';
      }, 100);
    }
  };
</script>
